<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый продукт</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h2>Добавить продукт</h2>
    <form method="post" th:action="@{'/create'}">
        <div class="mb-3">
            <label for="productId" class="form-label">ID продукта</label>
            <input type="number" name="id" class="form-control" id="productId">
        </div>
        <div class="mb-3">
            <label for="productTitle" class="form-label">Наименование продукта</label>
            <input type="text" name="title" class="form-control" id="productTitle">
        </div>
        <div class="mb-3">
            <label for="productPrice" class="form-label">Цена продукта</label>
            <input type="number" name="price" class="form-control" id="productPrice">
        </div>
        <button class="btn btn-secondary" type="submit">Сохранить</button>
    </form>
    <br>
    <a th:href=@{'/products'} class="btn btn-secondary">В список продуктов</a>
</div>

</body>
</html>